html, body{
  /* background-color: pink !important; */
}
* {
  padding: 0;
  margin: 0;
}
@font-face {
    font-family: Victoria;
    src: url(fonts/VictoriaCAT.ttf);
    font-weight:400;
}
@font-face {
    font-family: hk-med;
    src: url(fonts/HankenGrotesk-Regular.otf);
    font-weight:400;
}
@font-face {
    font-family: Victoria;
    src: url(fonts/VictoriaCAT.ttf);
    font-weight:400;
}
.deco-font{
  font-family: Victoria !important;
  font-size: 500%;
}

.deco-font-md{
  font-family: Victoria !important;
  font-size: 350%;
}

.deco-font-sm{
  font-family: Victoria !important;
  font-size: 250%;
}

body{
  font-family: hk-med !important;
  font-size: 13pt !important;
}

a {
  color: #337ab7;
}
p {
  margin-top: 1rem;
}
a:hover {
  /* color:#23527c; */
}
a:visited {
  /* color: #8d75a3; */
}

a.instruction-button{
  position: absolute;
  bottom: 30px;
  left: 30px;
}

button:hover, button:focus {
  outline: none;
  background: #c72d1c;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}
audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}
li {
  list-style: none;
  margin-bottom: 1rem;
  text-align: center;
}
#formats {
  margin-top: 0.5rem;
  font-size: 80%;
}
button#recordButton{
  height: 250px;
  width: 250px;
  border-radius: 125px;
  margin: 0 auto;
  color: white;
  background-color: red;
}
div#recording-list{
  display: none;
  margin-top: 100px;
}

ol li audio {
  margin-top: 30px;
  margin-bottom: 30px;
}

a.submit-recording-btn, a.refuse-recording-btn{
  margin-right: 20px;
  padding: 20px;
  margin-top: 70px;
}

div#countIn , div#countdown{
  text-align: center;
  outline: 1px solid black;
  padding: 20px;
  /* position: absolute; */
  right: 0px;
  display: none;
  margin-bottom: 10px;
}

@media (min-width: 1800px) {
 html, body{
    font-size: 1.2em !important;
  }
 }
